@outline: 1px solid red;
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
@base-font: 'Roboto', Arial, sans-serif;
@m-color: #333;
@sec-color: #d24d47;